In [55]:
import pandas as pd

In [56]:
# import data of traffic crash
df = pd.read_csv('trafficCrashTotal.csv')

/var/folders/bw/7j1wslbj7374yk87kkx7qf5r0000gn/T/ipykernel_28128/130161720.py:2: DtypeWarning: Columns (3,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('trafficCrashTotal.csv')

In [57]:
# filter out years 2018-2023
df = df[df['accident_year'] >= 2018]

In [58]:
# export to csv
df.to_csv('trafficCrash2018-2023.csv', index=False)

In [59]:
# victim role/type unique values
print(df['victim_role'].unique())

['Pedestrian' 'Passenger' 'Parked Vehicle' 'Other' 'Driver' 'Bicyclist']

In [60]:
df.head(5)

,unique_id,cnn_intrsctn_fkey,cnn_sgmt_fkey,case_id_pkey,tb_latitude,tb_longitude,geocode_source,geocode_location,collision_datetime,collision_date,...,victim_age,victim_degree_of_injury,victim_seating_position,victim_safety_equip_1,victim_safety_equip_2,victim_ejected,point,data_as_of,data_updated_at,data_loaded_at
0,489768,27610000.0,NaN,220775001,37.784573,-122.469908,SFPD-INTERIM DB,CITY STREET,11/10/2022 07:20:00 PM,11/10/2022 12:00:00 AM,...,27.0,Other Visible Injury,Driver,Not Required,None In Vehicle,Fully Ejected,POINT (-122.469907858 37.78457278),02/01/2023 12:00:00 AM,04/27/2023 12:00:00 AM,02/16/2024 04:12:43 PM
1,490381,25332000.0,NaN,220683874,37.798697,-122.407869,SFPD-INTERIM DB,CITY STREET,10/05/2022 04:14:00 PM,10/05/2022 12:00:00 AM,...,63.0,Other Visible Injury,Not Stated,Not Stated,Not Stated,Not Stated,POINT (-122.407869497 37.798696861),02/01/2023 12:00:00 AM,04/27/2023 12:00:00 AM,02/16/2024 04:12:43 PM
2,490007,24206000.0,NaN,220821278,37.771579,-122.411278,SFPD-INTERIM DB,CITY STREET,11/29/2022 06:12:00 PM,11/29/2022 12:00:00 AM,...,21.0,Complaint of Pain,Not Stated,Not Stated,Not Stated,Not Stated,POINT (-122.411277937 37.771578677),02/01/2023 12:00:00 AM,04/27/2023 12:00:00 AM,02/16/2024 04:12:43 PM
3,490242,24462000.0,NaN,220891572,37.780260,-122.418599,SFPD-INTERIM DB,CITY STREET,12/29/2022 04:54:00 PM,12/29/2022 12:00:00 AM,...,30.0,Complaint of Pain,Not Stated,Not Stated,Not Stated,Not Stated,POINT (-122.418598509 37.780260133),02/01/2023 12:00:00 AM,04/27/2023 12:00:00 AM,02/16/2024 04:12:43 PM
5,490084,33312000.0,NaN,220848802,37.731428,-122.408914,SFPD-INTERIM DB,CITY STREET,12/11/2022 07:18:00 PM,12/11/2022 12:00:00 AM,...,49.0,Complaint of Pain,Not Stated,Not Stated,Not Stated,Not Stated,POINT (-122.408914449 37.731428097),02/01/2023 12:00:00 AM,04/27/2023 12:00:00 AM,02/16/2024 04:12:43 PM

In [61]:
# only keep a few columns and put it into a new dataframe
df_popup = df[['tb_latitude', 'tb_longitude', 'victim_role', 'point', 'collision_datetime', 'accident_year', 'number_killed', 'number_injured', 'primary_rd', 'secondary_rd']]

In [62]:
#take a look at the new dataframe
df_popup.head(1)

,tb_latitude,tb_longitude,victim_role,point,collision_datetime,accident_year,number_killed,number_injured,primary_rd,secondary_rd
0,37.784573,-122.469908,Pedestrian,POINT (-122.469907858 37.78457278),11/10/2022 07:20:00 PM,2022,0.0,1,11TH AVE,CALIFORNIA ST

In [63]:
# export to csv
df_popup.to_csv('trafficCrash2018-2023_popup.csv', index=False)

For the Tenderloin 17 corridors, the streets are:</br>
PRIMARY ST:</br>
SUTTER ST</br>
POST ST</br>
GEARY ST</br>
O'FARRELL ST</br>
ELLIS ST</br>
EDDY ST</br>
TURK ST</br>
GOLDEN GATE AVE</br>
MCALLISTER ST</br>
GROVE ST</br>
FULTON ST</br>
</br>
SECONDARY:</br>
POLK ST</br>
LARKIN ST</br>
HYDE ST</br>
LEAVENWORTH ST</br>
JONES ST</br>
TAYLOR ST</br>
MASON ST</br>

In [64]:
# filter out the intersections
df_popup_TL17_SUTTER_ST = df_popup[df_popup['primary_rd'].isin(['SUTTER ST']) & df_popup['secondary_rd'].isin(['POLK ST', 'LARKIN ST', 'HYDE ST', 'LEAVENWORTH ST', 'JONES ST', 'TAYLOR ST', 'MASON ST'])]
df_popup_TL17_POST_ST = df_popup[df_popup['primary_rd'].isin(['POST ST']) & df_popup['secondary_rd'].isin(['POLK ST', 'LARKIN ST', 'HYDE ST', 'LEAVENWORTH ST', 'JONES ST', 'TAYLOR ST', 'MASON ST'])]
df_popup_TL17_GEARY_ST = df_popup[df_popup['primary_rd'].isin(['GEARY ST']) & df_popup['secondary_rd'].isin(['POLK ST', 'LARKIN ST', 'HYDE ST', 'LEAVENWORTH ST', 'JONES ST', 'TAYLOR ST', 'MASON ST'])]
df_popup_TL17_OFARRELL_ST = df_popup[df_popup['primary_rd'].isin(['OFARRELL ST']) & df_popup['secondary_rd'].isin(['POLK ST', 'LARKIN ST', 'HYDE ST', 'LEAVENWORTH ST', 'JONES ST', 'TAYLOR ST', 'MASON ST'])]
df_popup_TL17_ELLIS_ST = df_popup[df_popup['primary_rd'].isin(['ELLIS ST']) & df_popup['secondary_rd'].isin(['POLK ST', 'LARKIN ST', 'HYDE ST', 'LEAVENWORTH ST', 'JONES ST', 'TAYLOR ST', 'MASON ST'])]
df_popup_TL17_EDDY_ST = df_popup[df_popup['primary_rd'].isin(['EDDY ST']) & df_popup['secondary_rd'].isin(['POLK ST', 'LARKIN ST', 'HYDE ST', 'LEAVENWORTH ST', 'JONES ST', 'TAYLOR ST', 'MASON ST'])]
df_popup_TL17_TURK_ST = df_popup[df_popup['primary_rd'].isin(['TURK ST']) & df_popup['secondary_rd'].isin(['POLK ST', 'LARKIN ST', 'HYDE ST', 'LEAVENWORTH ST', 'JONES ST', 'TAYLOR ST','MASON ST'])]
df_popup_TL17_GOLDEN_GATE_AVE = df_popup[df_popup['primary_rd'].isin(['GOLDEN GATE AVE']) & df_popup['secondary_rd'].isin(['POLK ST', 'LARKIN ST', 'HYDE ST', 'LEAVENWORTH ST', 'JONES ST', 'TAYLOR ST'])]
df_popup_TL17_MCALLISTER_ST = df_popup[df_popup['primary_rd'].isin(['MCALLISTER ST']) & df_popup['secondary_rd'].isin(['POLK ST', 'LARKIN ST', 'HYDE ST', 'LEAVENWORTH ST', 'JONES ST', '7TH ST'])]
df_popup_TL17_FULTON_ST = df_popup[df_popup['primary_rd'].isin(['FULTON ST']) & df_popup['secondary_rd'].isin(['LARKIN ST', 'HYDE ST'])]
df_popup_TL17_GROVE_ST = df_popup[df_popup['primary_rd'].isin(['GROVE ST']) & df_popup['secondary_rd'].isin(['POLK ST','LARKIN ST', 'HYDE ST'])]
df_popup_TL17_VAN_NESS_AVE = df_popup[df_popup['secondary_rd'].isin(['VAN NESS AVE']) & df_popup['primary_rd'].isin(['SUTTER ST', 'POST ST', 'GEARY ST', 'OFARRELL ST', 'ELLIS ST', 'EDDY ST', 'TURK ST', 'GOLDEN GATE AVE', 'MCALLISTER ST', 'GROVE ST'])]
df_popup_TL17 = pd.concat([df_popup_TL17_SUTTER_ST, df_popup_TL17_POST_ST, df_popup_TL17_GEARY_ST, df_popup_TL17_OFARRELL_ST, df_popup_TL17_ELLIS_ST, df_popup_TL17_EDDY_ST, df_popup_TL17_TURK_ST, df_popup_TL17_GOLDEN_GATE_AVE, df_popup_TL17_MCALLISTER_ST, df_popup_TL17_FULTON_ST, df_popup_TL17_GROVE_ST, df_popup_TL17_VAN_NESS_AVE])
df_popup_TL17

,tb_latitude,tb_longitude,victim_role,point,collision_datetime,accident_year,number_killed,number_injured,primary_rd,secondary_rd
58,37.788388,-122.415185,Pedestrian,POINT (-122.415185269 37.788387931),02/17/2022 08:52:00 PM,2022,0.0,1,SUTTER ST,LEAVENWORTH ST
86,37.787757,-122.420116,Pedestrian,POINT (-122.420116076 37.787756652),06/27/2023 11:24:00 AM,2023,0.0,1,SUTTER ST,POLK ST
897,37.788808,-122.411886,Pedestrian,POINT (-122.411885658 37.788807544),05/22/2023 08:02:00 PM,2023,0.0,1,SUTTER ST,TAYLOR ST
2853,37.787688,-122.420659,Pedestrian,POINT (-122.420658867 37.787687726),09/21/2020 03:00:00 PM,2020,0.0,1,SUTTER ST,POLK ST
4059,37.788454,-122.414673,Pedestrian,POINT (-122.414672641 37.788453505),07/16/2019 05:06:00 PM,2019,0.0,1,SUTTER ST,LEAVENWORTH ST
...,...,...,...,...,...,...,...,...,...,...
64718,37.781031,-122.420440,Bicyclist,POINT (-122.420439518 37.781030842),12/15/2023 09:40:00 AM,2023,0.0,0,GOLDEN GATE AVE,VAN NESS AVE
64721,37.782894,-122.420817,Bicyclist,POINT (-122.420817003 37.782894121),02/24/2023 05:57:00 PM,2023,0.0,1,EDDY ST,VAN NESS AVE
64727,37.782944,-122.420424,Bicyclist,POINT (-122.420424395 37.782943886),07/05/2023 05:54:00 PM,2023,0.0,1,EDDY ST,VAN NESS AVE
66014,37.782894,-122.420817,Bicyclist,POINT (-122.420817003 37.782894121),08/04/2022 09:58:00 AM,2022,0.0,1,EDDY ST,VAN NESS AVE
66918,37.780983,-122.420815,Bicyclist,POINT (-122.420815452 37.780982964),09/10/2019 08:30:00 AM,2019,0.0,1,GOLDEN GATE AVE,VAN NESS AVE

In [65]:
# get a new column that is just date from the df_popup_TL17
df_popup_TL17['collision_date'] = pd.to_datetime(df_popup_TL17['collision_datetime']).dt.date
# change the collision_date column to a string
df_popup_TL17['collision_date_str'] = df_popup_TL17['collision_date'].astype(str)
# get a new column that date from collision_date in the formate of January 1, 2021
df_popup_TL17['collision_date_full'] = pd.to_datetime(df_popup_TL17['collision_date']).dt.strftime('%B %d, %Y')

In [66]:
# drop the collision_datetime column
df_popup_TL17 = df_popup_TL17.drop(columns=['collision_datetime'])
# drop the collision_date column
df_popup_TL17 = df_popup_TL17.drop(columns=['collision_date'])

In [67]:
# add a new column so that: 
# 'Pedestrian' 'Passenger' 'Parked Vehicle' 'Other' 'Driver' 'Bicyclist'
#if victim_role is Pedestrian, then it is Pedestrian/Bicyclist,
#if victim_role is Passenger, then it is Car person;
#if victim_role is Parked Vehicle, then it is Car person;
#if victim_role is Other, then it is Other;
#if victim_role is Driver, then it is Car person; 
#if victim_role is Bicyclist, then it is Pedestrian/Bicyclist;

df_popup_TL17['role'] = df_popup_TL17['victim_role'].apply(lambda x: 'Pedestrian/Bicyclist' if x == 'Pedestrian' or x == 'Bicyclist' else 'Car person' if x == 'Passenger' or x == 'Parked Vehicle' or x == 'Driver' else 'Other')
df_popup_TL17.head(1)

,tb_latitude,tb_longitude,victim_role,point,accident_year,number_killed,number_injured,primary_rd,secondary_rd,collision_date_str,collision_date_full,role
58,37.788388,-122.415185,Pedestrian,POINT (-122.415185269 37.788387931),2022,0.0,1,SUTTER ST,LEAVENWORTH ST,2022-02-17,"February 17, 2022",Pedestrian/Bicyclist

In [68]:
#get the type of each column
df_popup_TL17.dtypes

tb_latitude            float64
tb_longitude           float64
victim_role             object
point                   object
accident_year            int64
number_killed          float64
number_injured           int64
primary_rd              object
secondary_rd            object
collision_date_str      object
collision_date_full     object
role                    object
dtype: object

In [69]:
# turn numbr_killed and number_injured into integers
df_popup_TL17['number_killed'] = df_popup_TL17['number_killed'].astype(int)
df_popup_TL17['number_injured'] = df_popup_TL17['number_injured'].astype(int)

In [70]:
import geopandas as gpd
from shapely.geometry import Point

# create a GeoDataFrame
gdf = gpd.GeoDataFrame(df_popup_TL17, geometry=gpd.points_from_xy(df_popup_TL17.tb_longitude, df_popup_TL17.tb_latitude))

# set the coordinate reference system (CRS) to EPSG 4326
gdf.crs = {'init': 'epsg:4326'}

/Users/agneslu/anaconda3/envs/GeoPandas/lib/python3.9/site-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [71]:
# split the gdf into 6 dataframes based on accident_year
gdf_2018 = gdf[gdf['accident_year'] == 2018]
gdf_2019 = gdf[gdf['accident_year'] == 2019]
gdf_2020 = gdf[gdf['accident_year'] == 2020]
gdf_2021 = gdf[gdf['accident_year'] == 2021]
gdf_2022 = gdf[gdf['accident_year'] == 2022]
gdf_2023 = gdf[gdf['accident_year'] == 2023]

In [72]:
# export the six new dataframes to geojson
gdf_2018.to_file("TL2018.geojson", driver='GeoJSON')
gdf_2019.to_file("TL2019.geojson", driver='GeoJSON')
gdf_2020.to_file("TL2020.geojson", driver='GeoJSON')
gdf_2021.to_file("TL2021.geojson", driver='GeoJSON')
gdf_2022.to_file("TL2022.geojson", driver='GeoJSON')
gdf_2023.to_file("TL2023.geojson", driver='GeoJSON')