In [168]:
import pandas as pd

In [169]:
# read csv

df = pd.read_csv('data.csv')

In [170]:
df

,name,contest,amount,committee_name,position,slate,race
0,1266 Ninth LLC(Dan Safier),Proposition A,375.0,Affordable Housing For SF,Support,NaN,Measure
1,3333 California(Dan Safier),Proposition A,13900.0,Affordable Housing For SF,Support,NaN,Measure
2,3700 California(Dan Safier),Proposition A,11900.0,Affordable Housing For SF,Support,NaN,Measure
3,94123Hala Hijazi,John Avalos,250.0,John Avalos For Democratic County Central Comm...,Support,progressive,DCCC
4,A San Francisco For All of Us,Proposition F,7500.0,"Compassion And Accountability, For Treatment, ...",Support,NaN,Measure
...,...,...,...,...,...,...,...
4148,Yen Hui,Seat 13,100.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge
4149,Yj Choi,Seat 13,100.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge
4150,Zachary Alinder,Seat 1,250.0,Begert 2024; Retain Judge Michael,right,None,judge
4151,Zachary Stobo,Seat 1,500.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge
4152,Zachary Stobo,Seat 13,500.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge

In [171]:
df[df["committee_name"] == "Begert And Patrick Thompson; Safe And Accountable San Francisco Supporting The Retention Of Judges Michael Isaku"]

,name,contest,amount,committee_name,position,slate,race
2879,A. Marisa Chun,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2880,A. Marisa Chun,Seat 13,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2882,Aaron Peskin,Seat 1,500.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2883,Aaron Peskin,Seat 13,500.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2893,Alan Murphy,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
...,...,...,...,...,...,...,...
4127,William Cahill,Seat 13,500.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4134,William Osterhoudt,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4135,William Osterhoudt,Seat 13,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4143,William Wilson,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4144,William Wilson,Seat 13,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge

## Fixing judge contest names

In [172]:
# show the rows where the race equals "judge" 

df[df["race"] == "judge"].committee_name.value_counts()

Begert 2024; Retain Judge Michael                                                                                   365
Begert And Patrick Thompson; Safe And Accountable San Francisco Supporting The Retention Of Judges Michael Isaku    247
Zecher For Superior Court Judge 2024; Chip                                                                          239
Thompson 2024; Retain Judge Patrick                                                                                 213
Roland For Superior Court Judge 2024; Jean Myungjin                                                                 209
Independent Expenditure                                                                                               2
Name: committee_name, dtype: int64

In [173]:
df[df["contest"] == "Seat 1"]

,name,contest,amount,committee_name,position,slate,race
2878,A Chun,Seat 1,500.0,Begert 2024; Retain Judge Michael,right,None,judge
2879,A. Marisa Chun,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2881,Aaron Peskin,Seat 1,100.0,Begert 2024; Retain Judge Michael,right,None,judge
2882,Aaron Peskin,Seat 1,500.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
2885,Aarti Kohli,Seat 1,500.0,Begert 2024; Retain Judge Michael,right,None,judge
...,...,...,...,...,...,...,...
4143,William Wilson,Seat 1,125.0,Begert And Patrick Thompson; Safe And Accounta...,right,None,judge
4145,William Witte,Seat 1,1000.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge
4146,Wisfe Aish,Seat 1,12500.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge
4150,Zachary Alinder,Seat 1,250.0,Begert 2024; Retain Judge Michael,right,None,judge
4151,Zachary Stobo,Seat 1,500.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge

In [174]:
df.loc[(df["committee_name"] == "Begert And Patrick Thompson; Safe And Accountable San Francisco Supporting The Retention Of Judges Michael Isaku") & (df["contest"] == "Seat 1"), "contest"] = "Michael Isaku Begert"

In [175]:
df.loc[(df["committee_name"] == "Begert And Patrick Thompson; Safe And Accountable San Francisco Supporting The Retention Of Judges Michael Isaku") & (df["contest"] == "Seat 13"), "contest"] = "Patrick Thompson"

In [176]:
df.loc[(df["committee_name"] == "Begert 2024; Retain Judge Michael"), "contest"] = "Michael Isaku Begert"

In [177]:
df.loc[(df["committee_name"] == "Zecher For Superior Court Judge 2024; Chip"), "contest"] = "Albert Zecher"

In [178]:
df.loc[(df["committee_name"] == "Thompson 2024; Retain Judge Patrick"), "contest"] = "Patrick Thompson"

In [179]:
df.loc[(df["committee_name"] == "Roland For Superior Court Judge 2024; Jean Myungjin"), "contest"] = "Jean Myungjin Roland"

In [180]:
df[df["committee_name"] == "Independent Expenditure "]

Empty DataFrame
Columns: [name, contest, amount, committee_name, position, slate, race]
Index: []

In [181]:
df.loc[(df["committee_name"] == "Independent Expenditure") & (df["contest"] == "Seat 1"), "contest"] = "Albert Zecher"

In [182]:
df.loc[(df["committee_name"] == "Independent Expenditure") & (df["contest"] == "Seat 13"), "contest"] = "Jean Myungjin Roland"

## Fix Prop contest names

In [183]:
df.loc[(df["contest"] == "Proposition A") & (df["position"] == "Support"), "contest"] = "Yes on Prop. A"

In [184]:
df.loc[(df["contest"] == "Proposition A") & (df["position"] == "Oppose"), "contest"] = "No on Prop. A"

In [185]:
df.loc[(df["contest"] == "Proposition B") & (df["position"] == "Support"), "contest"] = "Yes on Prop. B"

In [186]:
df.loc[(df["contest"] == "Proposition B") & (df["position"] == "Oppose"), "contest"] = "No on Prop. B"

In [187]:
df.loc[(df["contest"] == "Proposition C") & (df["position"] == "Support"), "contest"] = "Yes on Prop. C"

In [188]:
df.loc[(df["contest"] == "Proposition C") & (df["position"] == "Oppose"), "contest"] = "No on Prop. C"

In [189]:
df.loc[(df["contest"] == "Proposition E") & (df["position"] == "Support"), "contest"] = "Yes on Prop. E"

In [190]:
df.loc[(df["contest"] == "Proposition E") & (df["position"] == "Oppose"), "contest"] = "No on Prop. E"

In [191]:
df.loc[(df["contest"] == "Proposition F") & (df["position"] == "Support"), "contest"] = "Yes on Prop. F"

In [192]:
df.loc[(df["contest"] == "Proposition F") & (df["position"] == "Oppose"), "contest"] = "No on Prop. F"

In [193]:
df.loc[(df["contest"] == "Proposition G") & (df["position"] == "Oppose"), "contest"] = "No on Prop. G"

In [194]:
df.loc[(df["contest"] == "Proposition G") & (df["position"] == "Support"), "contest"] = "Yes on Prop. G"

In [195]:
df[df['race'] == 'Measure']

,name,contest,amount,committee_name,position,slate,race
0,1266 Ninth LLC(Dan Safier),Yes on Prop. A,375.0,Affordable Housing For SF,Support,NaN,Measure
1,3333 California(Dan Safier),Yes on Prop. A,13900.0,Affordable Housing For SF,Support,NaN,Measure
2,3700 California(Dan Safier),Yes on Prop. A,11900.0,Affordable Housing For SF,Support,NaN,Measure
4,A San Francisco For All of Us,Yes on Prop. F,7500.0,"Compassion And Accountability, For Treatment, ...",Support,NaN,Measure
6,A4Eca LLC,No on Prop. F,5000.0,Reduce SF'S Homelessness; A Committee Against ...,Oppose,NaN,Measure
...,...,...,...,...,...,...,...
2833,"Wilson Meany, LP(Chris Meany)",Yes on Prop. A,5000.0,Affordable Housing For SF,Support,NaN,Measure
2835,Wisfe Aish,Yes on Prop. G,25000.0,Bring Algebra Back 2024,Support,NaN,Measure
2849,Yes On Prop E For A Safer SF - Mayor Breed'S B...,Yes on Prop. F,8700.0,"Compassion And Accountability, For Treatment, ...",Support,NaN,Measure
2855,Yvonne Bocci,Yes on Prop. E,300.0,Yes On Prop E For A Safer SF - Mayor Breed'S B...,Support,NaN,Measure
2859,Zachary Dewitt,Yes on Prop. E,300.0,Yes On Prop E For A Safer SF - Mayor Breed'S B...,Support,NaN,Measure

## Merge data

In [196]:
df

,name,contest,amount,committee_name,position,slate,race
0,1266 Ninth LLC(Dan Safier),Yes on Prop. A,375.0,Affordable Housing For SF,Support,NaN,Measure
1,3333 California(Dan Safier),Yes on Prop. A,13900.0,Affordable Housing For SF,Support,NaN,Measure
2,3700 California(Dan Safier),Yes on Prop. A,11900.0,Affordable Housing For SF,Support,NaN,Measure
3,94123Hala Hijazi,John Avalos,250.0,John Avalos For Democratic County Central Comm...,Support,progressive,DCCC
4,A San Francisco For All of Us,Yes on Prop. F,7500.0,"Compassion And Accountability, For Treatment, ...",Support,NaN,Measure
...,...,...,...,...,...,...,...
4148,Yen Hui,Jean Myungjin Roland,100.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge
4149,Yj Choi,Jean Myungjin Roland,100.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge
4150,Zachary Alinder,Michael Isaku Begert,250.0,Begert 2024; Retain Judge Michael,right,None,judge
4151,Zachary Stobo,Albert Zecher,500.0,Zecher For Superior Court Judge 2024; Chip,left,None,judge
4152,Zachary Stobo,Jean Myungjin Roland,500.0,Roland For Superior Court Judge 2024; Jean Myu...,left,None,judge

In [197]:
votes = pd.read_csv('votes.csv')

In [198]:
votes

                    contest  count      votes  race
0            Peter Gallotta  29090  31.817734  DCCC
1             Kristin Hardy  24325  26.605926  DCCC
2               Emma Heiken  32678  35.742177  DCCC
3                   Lily Ho  33769  36.935479  DCCC
4               John Avalos  31792  34.773098  DCCC
5              Cedric Akbar  28805  31.506010  DCCC
6                Nancy Tung  35210  38.511599  DCCC
7             Frank Tizedes   2495   2.728953  DCCC
8               Michael Lai  32239  35.262012  DCCC
9                Jeremy Lee  28017  30.644120  DCCC
10         Laurance Lem Lee  27916  30.533650  DCCC
11         Peter Ho Lik Lee  28006  30.632089  DCCC
12          Trevor Chandler  33676  36.833758  DCCC
13               Vick Chung  25329  27.704070  DCCC
14  Christopher Christensen   4692   5.131963  DCCC
15            Carrie Barnes  30140  32.966192  DCCC
16             Patrick Bell  22500  24.609798  DCCC
17             Gloria Berry  23912  26.154200  DCCC
18         Adolfo Velasquez  23462  25.662004  DCCC
19           Michael Nguyen  29126  31.857110  DCCC
20              Lyn Werbach  28656  31.343039  DCCC
21           Joe Sangirardi  30842  33.734017  DCCC
22           Sydney Simpson  26230  28.689556  DCCC
23        Joshua Rudy Ochoa  24406  26.694521  DCCC
24              Luis Zamora  27994  30.618964  DCCC
25              Matt Dorsey  41035  44.882803  DCCC
26             Sal Rosselli  24101  26.360922  DCCC
27                 Jane Kim  31213  34.139806  DCCC
28            Bilal Mahmood  33841  37.014230  DCCC
29           Anita Martinez  26251  28.712525  DCCC
30              Parag Gupta  24074  33.932372  DCCC
31              Natalie Gee  19381  27.317575  DCCC
32            Greg Hardeman  16199  22.832537  DCCC
33            Frances Hsieh  18124  25.545830  DCCC
34      Michela Alioto-Pier  26553  37.426530  DCCC
35                  Jade Tu  22921  32.307215  DCCC
36             Leah Lacroix  17241  24.301239  DCCC
37         Sandra Lee Fewer  18069  25.468307  DCCC
38              Connie Chan  23036  32.469308  DCCC
39                Mike Chen  23203  32.704695  DCCC
40              Queena Chen  15180  21.396254  DCCC
41             Dan Calamuci  21090  29.726415  DCCC
42             Lanier Coles  21445  30.226789  DCCC
43                Sara Barz  20505  28.901856  DCCC
44            Jen Nossokoff   3329   4.692235  DCCC
45        Catherine Stefani  35676  50.285424  DCCC
46          Marjan Philhour  24250  34.180445  DCCC
47                Mano Raju  18276  25.760074  DCCC
48               Hene Kelly  16255  22.911469  DCCC
49               Gordon Mar  21265  29.973078  DCCC
50               Brian Quan  20938  29.512171  DCCC

In [199]:
df = df.groupby(['contest']).agg({'amount': 'sum', 'slate': 'first'}).reset_index()

In [200]:
df

             contest      amount        slate
0   Adolfo Velasquez    17453.00  progressive
1      Albert Zecher   704683.96         None
2     Anita Martinez    16572.00  progressive
3      Bilal Mahmood   274675.00     moderate
4         Brian Quan    52817.00     moderate
..               ...         ...          ...
60    Yes on Prop. B   617500.00         None
61    Yes on Prop. C   379348.00         None
62    Yes on Prop. E  2255905.00         None
63    Yes on Prop. F  1076000.00         None
64    Yes on Prop. G   174221.00         None

[65 rows x 3 columns]

In [201]:
# rename the amount column to amount_raised 

df = df.rename(columns={"amount": "amount_raised"})

In [202]:
# delete the row where the contest is multiple candidates RCCC

df = df[df.contest != "Multiple Candidates Rccc"]

In [203]:
df

             contest  amount_raised        slate
0   Adolfo Velasquez       17453.00  progressive
1      Albert Zecher      704683.96         None
2     Anita Martinez       16572.00  progressive
3      Bilal Mahmood      274675.00     moderate
4         Brian Quan       52817.00     moderate
..               ...            ...          ...
60    Yes on Prop. B      617500.00         None
61    Yes on Prop. C      379348.00         None
62    Yes on Prop. E     2255905.00         None
63    Yes on Prop. F     1076000.00         None
64    Yes on Prop. G      174221.00         None

[64 rows x 3 columns]

In [204]:
# make a list of all the contests

contests = df.contest.unique()

In [205]:
contests

array(['Adolfo Velasquez', 'Albert Zecher', 'Anita Martinez',
       'Bilal Mahmood', 'Brian Quan', 'Carrie Barnes',
       'Catherine Stefani', 'Cedric Akbar', 'Connie Chan', 'Dan Calamuci',
       'Emma Heiken', 'Frances Hsieh', 'Frank Tizedes', 'Gloria Berry',
       'Gordon Mar', 'Greg Hardeman', 'Hene Kelly', 'Jade Tu', 'Jane Kim',
       'Jean Myungjin Roland', 'Jen Nossokoff', 'Jeremy Lee',
       'Joe Sangirardi', 'John Avalos', 'Joshua Rudy Ochoa',
       'Kristin Hardy', 'Lanier Coles', 'Laurance Lee', 'Leah Lacroix',
       'Lily Ho', 'Luis Zamora', 'Lyn Werbach', 'Mano Raju',
       'Marjan Philhour', 'Matt Dorsey', 'Michael Isaku Begert',
       'Michael Lai', 'Michael Nguyen', 'Michela Alioto-Pier',
       'Mike Chen', 'Nancy Tung', 'Natalie Gee', 'No on Prop. B',
       'No on Prop. C', 'No on Prop. E', 'No on Prop. F', 'Parag Gupta',
       'Patrick Bell', 'Patrick Thompson', 'Peter Gallotta', 'Peter Lee',
       'Queena Chen', 'Sal Rosselli', 'Sandra Fewer', 'Sara Barz',
       'Sydney Simpson', 'Trevor Chandler', 'Vick Chung',
       'Yes on Prop. A', 'Yes on Prop. B', 'Yes on Prop. C',
       'Yes on Prop. E', 'Yes on Prop. F', 'Yes on Prop. G'], dtype=object)

In [206]:
votes.contest.unique()

array(['Peter Gallotta', 'Kristin Hardy', 'Emma Heiken', 'Lily Ho',
       'John Avalos', 'Cedric Akbar', 'Nancy Tung', 'Frank Tizedes',
       'Michael Lai', 'Jeremy Lee', 'Laurance Lem Lee',
       'Peter Ho Lik Lee', 'Trevor Chandler', 'Vick Chung',
       'Christopher Christensen', 'Carrie Barnes', 'Patrick Bell',
       'Gloria Berry', 'Adolfo Velasquez', 'Michael Nguyen',
       'Lyn Werbach', 'Joe Sangirardi', 'Sydney Simpson',
       'Joshua Rudy Ochoa', 'Luis Zamora', 'Matt Dorsey', 'Sal Rosselli',
       'Jane Kim', 'Bilal Mahmood', 'Anita Martinez', 'Parag Gupta',
       'Natalie Gee', 'Greg Hardeman', 'Frances Hsieh',
       'Michela Alioto-Pier', 'Jade Tu', 'Leah Lacroix',
       'Sandra Lee Fewer', 'Connie Chan', 'Mike Chen', 'Queena Chen',
       'Dan Calamuci', 'Lanier Coles', 'Sara Barz', 'Jen Nossokoff',
       'Catherine Stefani', 'Marjan Philhour', 'Mano Raju', 'Hene Kelly',
       'Gordon Mar', 'Brian Quan'], dtype=object)

In [207]:
votes.columns

Index(['contest', 'count', 'votes', 'race'], dtype='object')

In [208]:
# change amount to number_votes 

votes = votes.rename(columns={"amount": "number_votes"})

In [209]:
votes

                    contest  count      votes  race
0            Peter Gallotta  29090  31.817734  DCCC
1             Kristin Hardy  24325  26.605926  DCCC
2               Emma Heiken  32678  35.742177  DCCC
3                   Lily Ho  33769  36.935479  DCCC
4               John Avalos  31792  34.773098  DCCC
5              Cedric Akbar  28805  31.506010  DCCC
6                Nancy Tung  35210  38.511599  DCCC
7             Frank Tizedes   2495   2.728953  DCCC
8               Michael Lai  32239  35.262012  DCCC
9                Jeremy Lee  28017  30.644120  DCCC
10         Laurance Lem Lee  27916  30.533650  DCCC
11         Peter Ho Lik Lee  28006  30.632089  DCCC
12          Trevor Chandler  33676  36.833758  DCCC
13               Vick Chung  25329  27.704070  DCCC
14  Christopher Christensen   4692   5.131963  DCCC
15            Carrie Barnes  30140  32.966192  DCCC
16             Patrick Bell  22500  24.609798  DCCC
17             Gloria Berry  23912  26.154200  DCCC
18         Adolfo Velasquez  23462  25.662004  DCCC
19           Michael Nguyen  29126  31.857110  DCCC
20              Lyn Werbach  28656  31.343039  DCCC
21           Joe Sangirardi  30842  33.734017  DCCC
22           Sydney Simpson  26230  28.689556  DCCC
23        Joshua Rudy Ochoa  24406  26.694521  DCCC
24              Luis Zamora  27994  30.618964  DCCC
25              Matt Dorsey  41035  44.882803  DCCC
26             Sal Rosselli  24101  26.360922  DCCC
27                 Jane Kim  31213  34.139806  DCCC
28            Bilal Mahmood  33841  37.014230  DCCC
29           Anita Martinez  26251  28.712525  DCCC
30              Parag Gupta  24074  33.932372  DCCC
31              Natalie Gee  19381  27.317575  DCCC
32            Greg Hardeman  16199  22.832537  DCCC
33            Frances Hsieh  18124  25.545830  DCCC
34      Michela Alioto-Pier  26553  37.426530  DCCC
35                  Jade Tu  22921  32.307215  DCCC
36             Leah Lacroix  17241  24.301239  DCCC
37         Sandra Lee Fewer  18069  25.468307  DCCC
38              Connie Chan  23036  32.469308  DCCC
39                Mike Chen  23203  32.704695  DCCC
40              Queena Chen  15180  21.396254  DCCC
41             Dan Calamuci  21090  29.726415  DCCC
42             Lanier Coles  21445  30.226789  DCCC
43                Sara Barz  20505  28.901856  DCCC
44            Jen Nossokoff   3329   4.692235  DCCC
45        Catherine Stefani  35676  50.285424  DCCC
46          Marjan Philhour  24250  34.180445  DCCC
47                Mano Raju  18276  25.760074  DCCC
48               Hene Kelly  16255  22.911469  DCCC
49               Gordon Mar  21265  29.973078  DCCC
50               Brian Quan  20938  29.512171  DCCC

In [210]:
# in df["contest"] replace Sandra Lee Fewer with Sandra Lee Fewer for Supervisor

df.loc[(df["contest"] == "Sandra Fewer"), "contest"] = "Sandra Lee Fewer"
df.loc[(df["contest"] == "Albert Zecher"), "contest"] = "Chip Zecher"
df.loc[(df["contest"] == "Peter Lee"), "contest"] = "Peter Ho Lik Lee"
df.loc[(df["contest"] == "Laurance Lee"), "contest"] = "Laurance Lem Lee"

In [211]:
# join the two dataframes on contest

df = df.merge(votes, on="contest", how='outer')

In [212]:
df

,contest,amount_raised,slate,count,votes,race
0,Adolfo Velasquez,17453.00,progressive,23462.0,25.662004,DCCC
1,Chip Zecher,704683.96,None,NaN,NaN,NaN
2,Anita Martinez,16572.00,progressive,26251.0,28.712525,DCCC
3,Bilal Mahmood,274675.00,moderate,33841.0,37.014230,DCCC
4,Brian Quan,52817.00,moderate,20938.0,29.512171,DCCC
...,...,...,...,...,...,...
60,Yes on Prop. C,379348.00,None,NaN,NaN,NaN
61,Yes on Prop. E,2255905.00,None,NaN,NaN,NaN
62,Yes on Prop. F,1076000.00,None,NaN,NaN,NaN
63,Yes on Prop. G,174221.00,None,NaN,NaN,NaN
64,Christopher Christensen,NaN,None,4692.0,5.131963,DCCC

In [213]:
# show column types

df.dtypes

contest           object
amount_raised    float64
slate             object
count            float64
votes            float64
race              object
dtype: object

In [214]:
# if amount raised is null, replace with 0

df["amount_raised"] = df["amount_raised"].fillna(0)

In [215]:
df.dtypes

contest           object
amount_raised    float64
slate             object
count            float64
votes            float64
race              object
dtype: object

In [216]:
dfDCCC = df[df['race'] == 'DCCC']

In [217]:
dfMeasure = df[df['race'] == 'Measure']

In [218]:
dfMeasure

Empty DataFrame
Columns: [contest, amount_raised, slate, count, votes, race]
Index: []

In [219]:
# save as csv

dfDCCC.to_csv('dccc_data.csv', index=False)

In [220]:
dfMeasure.to_csv('measure_data.csv', index=False)